<%- model_class = User -%>
<div class="page-header">
  <h1>My profile</h1>
</div>

<div class="well">
	You are registered as <%= link_to @user.email, user_path(@user) %>, as a member of <%= link_to company.name, company_path(company) %> which currently has <%= job_offers.count %> job offer<% if job_offers.count > 1 %>s<% end %> listed.
</div>

<div class="span12">
		<h2>Your Info</h2>
<div class="span6 offset3">
	<dl class="dl-horizontal">
	  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
	  <dd><%= @user.email %></dd>
		<dd style="margin-top:10px;"><%= link_to "Edit info", edit_user_path(@user), :class => 'btn' %></dd>
	</dl>
		
</div>
</div>
<div class="span12">
		<h2>Your Company</h2>

<div class="span3">

	<img src="<%= company.logo %>" alt="<%= company.name %> logo" width="100%">
	<% if can? :update, company%>
	<p style="text-align:center;margin-top:20px;">
	
	</p>
	<% end %>
</div>
<div class="span6">
	<dl class="dl-horizontal">

		<dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
		<dd><%= link_to company.url, company.url %></dd>
		<dt><strong><%= model_class.human_attribute_name(:headquarters) %>:</strong></dt>
		<dd><%= company.headquarters %></dd>
		<dt><strong><%= model_class.human_attribute_name(:industry) %>:</strong></dt>
		<dd><%= company.industry %></dd>

		<dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
		<dd><%= company.description %></dd>
		<dd style="margin-top:10px;"><%= link_to "Edit company profile", edit_company_path(company), :class => 'btn' %></dd>
	</dl>
</div>
</div>
<div class="span12" style="margin-top:20px;">
	<h2>Your Company's current Job Offers</h2>
	<% job_offers.each do |job_offer| %>
	<div class="span12" style="border-bottom:1px dotted #bbb;">
	<div class="span6">
		<h3><%= link_to job_offer.title, job_offer_path(job_offer) %></h3>
		<%= job_offer.field_of_expertise %>
	</div>
	<div class="span2">
		<%= job_offer.location %>
	</div>
	<div class="span3" style="line-height: 40px; padding: 10px; float:right;">
		<%= link_to "View offer", job_offer_path(job_offer), :class => "btn btn-success" %>
			<% if can? :update, job_offer %><%= link_to "Edit offer", edit_job_offer_path(job_offer), :class => "btn btn-info" %> <% end %>
	</div>
	</div>
	
	<% end %>
</div>

