<%- model_class = Company -%>
<div class="page-header">
	<h1><%= @company.name %></h1>
	<% if can? :update, @company %> It's your company! <%= link_to "Click here to edit your profile or manage your job offers", user_path(current_user) %> <% end %>
</div>

<div class="span3">
	<img src="<%= @company.logo %>" alt="<%= @company.name %> logo" width="100%">
</div>
<div class="span8">
	<dl class="dl-horizontal">

		<dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
		<dd><%= link_to @company.url, @company.url %></dd>
		<dt><strong><%= model_class.human_attribute_name(:headquarters) %>:</strong></dt>
		<dd><%= @company.headquarters %></dd>
		<dt><strong><%= model_class.human_attribute_name(:industry) %>:</strong></dt>
		<dd><%= @company.industry %></dd>

		<dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
		<dd><%= @company.description %></dd>
	</dl>
</div>
<div class="span12" style="margin-top:20px;">
		<h1>Current Job Offers</h1>
	<% job_offers.each do |job_offer| %>
	<div class="span12" style="border-bottom:1px dotted #bbb;">
	<div class="span6" style="padding-bottom:20px;">
		<h3><%= link_to job_offer.title, job_offer_path(job_offer) %></h3>
		<%= job_offer.field_of_expertise %>
	</div>
	<div class="span2" style="padding-top:40px;">
		<%= job_offer.location %>
	</div>
	<div class="span3" style="line-height: 40px; padding: 30px; float:right;">
		<%= link_to "View offer", job_offer_path(job_offer), :class => "btn btn-parisoma2" %>
	</div>
	</div>
	
	<% end %>
</div>

