<%- model_class = JobOffer -%>
<div class="span12 page-header">
<div class="span9">
	<h1>Open Job Offers <% if defined?(@researched_field) %>in <%= @researched_field.to_s %> <% end %></h1>
</div>
  <div class="span2" style="line-height: 40px; padding: 10px;">
  	<%= link_to "Offer a new position",
	            new_job_offer_path,
	            :class => 'btn btn-parisoma' %>
  </div>
</div>

<div class="span12">
	<% fields_array = Array.new %>
	<% @job_offers.each do |job_offer| %>
	<% unless fields_array.include? job_offer.field_of_expertise  %>
	<% fields_array << job_offer.field_of_expertise.to_s %>
	<% end %>
	<% end %>
	
	<% unless fields_array.size == 1 %>

	<ul class="breadcrumb">
		<li>Filter by field<span class="divider"> : </span></li>
	<% fields_array.each do |field_filter| %>
	<li><%= link_to field_filter, "/field/"+field_filter %> <span class="divider">  </span></li>
	<% end %>
	</ul>
	<% end %>
	<% if defined?(@researched_field) %>  <%= link_to "Back", root_url, :class => "btn" %> <% end %>
</div>

<%= render :partial => 'shared/job_offers_listing', :object => @job_offers %>