<!DOCTYPE html>
<html>
  <head>
    <title>PARISOMA Job Board- Beta</title>
	<meta name="description" content="A place to post Job Offers for the PARISOMA Community. PARISOMA is a space where ideas meet execution. We believe that the more ideas are realized the better the world will be. We cultivate an experimental environment through COWORKING, EDUCATION and EVENTS.">
	<!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
	  <![endif]-->

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>
	<div class="navbar navbar-static-top">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to image_tag('parisoma-jobboard-beta-logo.png', :size => "250x37"), root_url, :class =>"brand" %>
				<div class="span6">
					<ul class="nav">
						<li><%= link_to "Job Offers", job_offers_path %></li>
						<li><%= link_to "Companies", companies_path %></li>
					</ul>
				</div>
		
				<div class="span3">
					<ul class="nav" style="float:right !important;">
						<% if current_user %>
						<li><%= link_to "My account", user_path(current_user.id) %></li>
						<li><%= link_to "Log out", :logout %></li>
						<% else %>						
						<li><%= link_to "Log in", :login %></li>
						<li><%= link_to "Register", new_user_path %></li>
						<% end %>
					
					</ul>
				</div>
			</div>
		</div>
	</div>
    <div class="container">

      <% flash.each do |name, msg| %>
		<div class="row">
			<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
				<a class="close" data-dismiss="alert">×</a>
				<%= msg %>
			</div>
		</div>
      <% end %>

	<div class="row">
	
			 <%= content_tag :h1, yield(:title) if show_title? %>
		      <%= yield %>
	

	</div>
    <div class="row footer">
    	<ul class="breadcrumb">
		<li><a href="#">FAQ</a> <span class="divider"> - </span></li>
		<li><a href="#">About</a> <span class="divider"> - </span></li>
		<li><a href="#">Discover PARISOMA</a> <span class="divider"> &nbsp; </span></li>
		</ul>
		<p>Copyright PARISOMA</p>
    </div>
    </div>
  </body>
</html>
